textarea {
    width: 71%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #383232;
    font-size: 16px;
    resize: none;
}