h1 {
    color: darkblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px
    
}

button {
    background-color: rgb(19, 119, 19);
    color: black;
    font-size: 16px;
    padding: 8px 8px;
    border: black 2px solid;
    border-radius: 5px;
    cursor: pointer;
    margin: 24px;

}

h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-container {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: rgb(1, 73, 226);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
}

footer {
    text-align: center;
    margin: 2px;
    padding: 1px;
    border: 3px solid black;
    background-color: rgb(0, 4, 61);
}

body {
    background-color: rgb(255, 255, 255);
}
